@charset "UTF-8";
/*Обнуление*/
@import url("https://fonts.googleapis.com/css2?family=Poiret+One&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
html, body {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  margin: 0 auto;
}

.wrapper {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header {
  transition: all 0.8s ease-out;
  width: 100%;
  height: 12em;
  flex: 0 0 auto;
  position: sticky;
  left: 0;
  top: 0;
  background: rgba(42, 46, 42, 0.685);
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  z-index: 99;
  border-bottom: 0.3em solid rgba(240, 219, 35, 0.61);
}
.header .header__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.header .header__title {
  font-family: "Poiret One";
  letter-spacing: calc((1vw + 1vh) / 30);
  color: white;
  font-weight: 700;
  text-align: center;
  margin: 0 auto;
  font-size: 3em;
  text-transform: uppercase;
  margin-bottom: 0.1em;
}
.header .header__title:hover {
  color: rgba(240, 219, 35, 0.61);
}
.header .header__sub-title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Poiret One";
  text-decoration-line: underline;
  font-weight: 400;
  letter-spacing: calc((1vw + 1vh) / 30);
  color: white;
  font-size: 1.5em;
  word-spacing: 0.0001em;
  margin-bottom: 1em;
}
.header .header__sub-title:hover {
  color: rgba(240, 219, 35, 0.61);
}
.header .header__logo {
  cursor: pointer;
  display: block;
  position: absolute;
  left: 3em;
  background: grey;
  width: 7em;
  height: 7em;
  border-radius: 50%;
  overflow: hidden;
  border: 0.3em solid rgba(240, 219, 35, 0.61);
}
.header .header__logo img {
  display: block;
  width: inherit;
  height: inherit;
  overflow: hidden;
  border-radius: inherit;
}
.header .header__logo:hover {
  transform: scale(1.3);
  border: 0.3em solid rgba(240, 219, 35, 0.61);
}
.header .header__logo:active {
  transform: scale(0.7);
  border: 0.3em solid rgba(240, 219, 35, 0.61);
}
.header .header__burger {
  display: none;
}
.header .header__menu {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.header .header__buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.header .header__buttons .header__button {
  cursor: pointer;
  display: inline-block;
  color: white;
  margin-left: 1em;
  text-align: center;
  font-family: "Poiret One";
  font-weight: 500;
  letter-spacing: calc((1vw + 1vh) / 20);
  padding: 1em;
}
.header .header__buttons .header__button:hover {
  background: rgba(240, 219, 35, 0.61);
  color: black;
  font-weight: 600;
  border-radius: 10px;
  transform: scale(1.3);
}
.header .header__buttons .header__button:active {
  background: rgba(240, 219, 35, 0.61);
  color: black;
  font-weight: 600;
  border-radius: 10px;
  transform: scale(0.9);
}
.header .header__tags {
  display: none;
}
.footer {
  background: rgba(42, 46, 42, 0.685);
  width: 100%;
  height: 5em;
  flex: 0 0 auto;
  border-top: 0.3em solid rgba(240, 219, 35, 0.61);
  z-index: 1;
}
.main-content {
  width: 100%;
  height: 100vh;
  flex: 1 0 auto;
  z-index: 1;
}